[user]
	email = kory.schneider@gmail.com
	name = Kory Schneider
[push]
	default = simple
[alias]
	ch = checkout
	s = status
	d = diff
	cm = commit
	cl = clone
	pl = pull
	pu = push
	b = branch
	st = stash
