*font:	xft:Anonymice\ Powerline:size=13,xft:Monospace:size=12,xft:FontAwesome:size=12:antialias=true:hinting=true

! ------------------------------------------------------- Colorscheme: Gruvbox
*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! ------------------------------------------------------- Rofi
rofi.terminal: urxvt
rofi.lines:		5

rofi.width:		40
rofi.padding:	35

rofi.eh:		2
rofi.opacity:	90
rofi.bw:		2

rofi.bc:    #ebdbb2
rofi.bg:    #ebdbb2
rofi.fg:    #282828

rofi.hlbg:    #8ec07c
rofi.hlfg:    #282828

rofi.font:    Anonymice Powerline 14

! ------------------------------------------------------- URxvt
URxvt*termName: rxvt-256color
URxvt*xftAntialias: true

URxvt*cursorColor:	#fbf1c7
URxvt*colorUL: #366060
URxvt*underlineColor: #dfaf8f

URxvt*letterSpace: 1

URxvt*transparent: false
!URxvt*shading: 25

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium-browser
URxvt.matcher.button: 1

URxvt*loginShell: true
URxvt*cursorBlink: true
URxvt*pointerBlank: true
URxvt*pointerBlankDelay: 2
URxvt*scrollBar: false
URxvt*secondaryScroll: true
URxvt*borderless: true
