*font: xft:Anonymice\ Powerline:size=12,xft:Anonymice\ Powerline\ Nerd\ Font:size=12,xft:Monospace:size=11:antialias=true:hinting=true

! ------------------------------------------------------- Colorscheme: Gruvbox
*background: #282828
*foreground: #ebdbb2

*color0:     #282828
*color1:     #cc241d
*color2:     #98971a
*color3:     #d79921
*color4:     #458588
*color5:     #b16286
*color6:     #689d6a
*color7:     #a89984
*color8:     #928374
*color9:     #fb4934
*color10:    #b8bb26
*color11:    #fabd2f
*color12:    #83a598
*color13:    #d3869b
*color14:    #8ec07c
*color15:    #ebdbb2

! ------------------------------------------------------- Rofi
rofi.terminal: urxvt
rofi.lines:    4

rofi.width:    20
rofi.padding:  35

rofi.eh:       2
rofi.opacity:  90
rofi.bw:       2

rofi.bc:       #ebdbb2
rofi.bg:       #ebdbb2
rofi.fg:       #282828

rofi.hlbg:     #8ec07c
rofi.hlfg:     #282828

rofi.font:     Anonymice Powerline 14

! ------------------------------------------------------- URxvt
URxvt*termName:          rxvt-256color
URxvt*xftAntialias:      true

URxvt*cursorColor:       #fbf1c7
URxvt*colorUL:           #366060
URxvt*underlineColor:    #dfaf8f

URxvt*letterSpace:       2

URxvt*transparent:       false
URxvt*shading:           25

URxvt.perl-ext-common:   default,matcher
URxvt.url-launcher:      /usr/bin/chromium-browser
URxvt.matcher.button:    1

URxvt*loginShell:        true
URxvt*cursorBlink:       true
URxvt*pointerBlank:      true
URxvt*pointerBlankDelay: 2
URxvt*scrollBar:         false
URxvt*secondaryScroll:   true
URxvt*borderless:        true
