*font: xft:ProggyCleanTT\ Nerd\ Font:size=11

! ------------------------------------------------------- Colorscheme: Gruvbox
*background: #282828
*foreground: #ebdbb2

*color0:     #282828
*color1:     #cc241d
*color2:     #98971a
*color3:     #d79921
*color4:     #458588
*color5:     #b16286
*color6:     #689d6a
*color7:     #a89984
*color8:     #928374
*color9:     #fb4934
*color10:    #b8bb26
*color11:    #fabd2f
*color12:    #83a598
*color13:    #d3869b
*color14:    #8ec07c
*color15:    #ebdbb2

! ------------------------------------------------------- Rofi
rofi.font:            DejaVu Sans 14
rofi.terminal:        urxvt

rofi.separator-style: solid
rofi.lines:           3
rofi.line-margin:     10

rofi.hide-scrollbar:  true
rofi.scroll-method:   0

rofi.width:           18
rofi.padding:         30
rofi.bw:              0
rofi.eh:              1

rofi.opacity:         90

rofi.bc:              #ebdbb2
rofi.bg:              #ebdbb2
rofi.fg:              #282828
rofi.hlbg:            #8ec07c
rofi.hlfg:            #282828

! ------------------------------------------------------- URxvt
URxvt*termName:          rxvt-256color
URxvt*xftAntialias:      true

URxvt*cursorColor:       #fbf1c7
URxvt*colorUL:           #366060
URxvt*underlineColor:    #dfaf8f

URxvt*letterSpace:       0

URxvt*transparent:       false
URxvt*shading:           25

URxvt.perl-ext-common:   default,matcher
URxvt.url-launcher:      /bin/chromium
URxvt.matcher.button:    1

URxvt*loginShell:        true
URxvt*cursorBlink:       true
URxvt*pointerBlank:      true
URxvt*pointerBlankDelay: 2
URxvt*scrollBar:         false
URxvt*secondaryScroll:   true
URxvt*borderless:        true
